<h1>mat-list & mat-nav-list & matsubheader</h1>

<mat-toolbar>
  <button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <p [style.margin-left]="'10px'">header name</p>
</mat-toolbar>
<mat-sidenav-container class="sidnav-container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="push"
    [(opened)]="opened"
    (open)="events.push('open!')"
    (close)="events.push('close!')"
    fixedTopGap="20"
    fixedBottomGap="20"
  >
    <mat-list>
      <h3 matSubheader>mat-list</h3>
      <a [routerLink]="['/', 'dashboard', 'survey']" mat-list-item
        >underline1</a
      >
      <a [routerLink]="['/', 'dashboard', 'blog']" mat-list-item>underline2</a>
      <a [routerLink]="['/', 'dashboard', 'inbox']" mat-list-item>underlin3</a>
    </mat-list>
    <mat-divider></mat-divider>

    <mat-nav-list>
      <h3 matSubheader>mat-nav-list</h3>
      <a [routerLink]="['/', 'dashboard', 'survey']" mat-list-item>nav-list1</a>
      <a [routerLink]="['/', 'dashboard', 'blog']" mat-list-item>nav-list2</a>
      <a [routerLink]="['/', 'dashboard', 'inbox']" mat-list-item>nav-list3</a>
      <mat-divider></mat-divider>
      <h3 matSubheader>matSubheader2</h3>
      <a [routerLink]="['/']" mat-list-item>1</a>
      <a [routerLink]="['/']" mat-list-item>2</a>
      <a [routerLink]="['/']" mat-list-item>3</a>
      <mat-divider></mat-divider>

      <h3 matSubheader>
        <mat-icon>chat_bubble</mat-icon>
        Select Event
      </h3>
      <mat-list-item *ngIf="optNew.selected">Message is selected</mat-list-item>
      <mat-list-item *ngIf="optAds.selected"> ads is selected</mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>
        <mat-icon>settings</mat-icon>
        Check BOX
      </h3>
      <mat-selection-list>
        <mat-list-option [value]="1" selected="true" #optNew
          >select message</mat-list-option
        >
        <mat-list-option [value]="2" #optAds>select ads</mat-list-option>
      </mat-selection-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <h1>matListavatar</h1>
    <mat-list-item>
      <button mat-icon-button color="accent">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <img
        matListAvatar
        src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Walt_Whitman_-_George_Collins_Cox.jpg"
        width="80px"
        height="80px"
      />
      <p matLine>Watt Whitman</p>
      <span matLine>Be curious, not judgmental.</span>
      <!-- Button always at the tail-->
    </mat-list-item>
  </mat-sidenav-content>
</mat-sidenav-container>
